<main>
  <section class="section section-lg-12 bg-gradient-warning">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h1 class="display-3 text-white">Détails de réparation pour {{(fiche$ | async)?.idVoiture?.matricule}}</h1>
        </div>
      </div>
      <div class="row row-grid mt-5 text-white">
        <p>Liste des réparations avec avancements</p>
        <div *ngIf="loading" class="d-flex justify-content-center" style="width: 100%; height: 500px;">
          <div class="spinner-border" style="width: 5rem; height: 5rem; margin: auto; " role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <table *ngIf="!loading" class="table table-striped text-white">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Intitulé</th>
              <th scope="col">Avancement</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rep of (fiche$ | async)?.reparation; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ rep.intitule }}</td>
              <td>
                <ngb-progressbar type="success" textType="white" height="25px" [value]="rep.avancement" [showValue]="true" [striped]="true" [animated]="true"></ngb-progressbar>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
</main>
