<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-6  text-white">Fiche de dépôt de voiture
                <p>Remplir les informations suivants avant de commencer la réparation de votre voiture</p>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div *ngIf="loading" class="d-flex justify-content-center" style="width: 100%; height: 500px;">
              <div class="spinner-border" style="width: 5rem; height: 5rem; margin: auto; " role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <form *ngIf="!loading" class="card-body p-lg-5"  [formGroup]="ficheForm">
              <h4 class="mb-1">à propos du fiche</h4>
              <p class="mt-0">Informations nécéssaires</p>
              <div class="form-group mt-5">
                  <div class="row row-grid align-items-center" >
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5">
                      <input class="form-check-input" type="radio" checked="true" formControlName="formVehicules" value="false" [(ngModel)]="formVehicule" >
                      <label class="form-check-text" >Voiture historisé</label>
                    </div>
                    <div class="col-md-5">
                      <input class="form-check-input" type="radio" formControlName="formVehicules" value="true" [(ngModel)]="formVehicule" >
                      <label class="form-check-text" style="color: orange" >Nouvelle voiture</label>
                    </div>
                </div>

                <div class="input-group input-group-alternative" *ngIf="formVehicule === 'false'" >
                    <select class="form-control" formControlName="idVoiture">
                      <option *ngFor="let vehicule of listVehicule$ | async" value={{vehicule._id}} >{{vehicule.matricule+' '+vehicule.marque}}</option>
                    </select>
                </div>

                <div class="input-group input-group-alternative" *ngIf="formVehicule === 'true'" >
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-bullet-list-67"></i></span>
                  </div>
                  <input class="form-control" placeholder="Numéro du véhicule" type="text" formControlName="matricule">

                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-bullet-list-67"></i></span>
                  </div>
                  <input class="form-control" placeholder="Marque" type="text" formControlName="marque">

                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-bullet-list-67"></i></span>
                  </div>
                  <input class="form-control" placeholder="Type" type="text" formControlName="type">
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg" (click)="ngSave()">Enregistrer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
