<main>
    <section class="section section-lg pt-lg-0 section-contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex flex-column mx-auto">
                    <h1 style="padding-bottom: 20px;">Liste réparation : </h1>
                    <div class="card card-plain mt-8">
                        <div *ngIf="loading" class="d-flex justify-content-center" style="width: 100%; height: 500px;">
                          <div class="spinner-border" style="width: 5rem; height: 5rem; margin: auto; " role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                        <div *ngIf="!loading" class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Voiture</th>
                                        <!-- <th scope="col">Client</th> -->
                                        <th scope="col">Etat</th>
                                        <th scope="col">Etat Paiement</th>
                                        <th scope="col">Date fiche</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let liste of ficheListe">
                                        <td> {{liste.idVoiture.matricule}} | {{liste.idVoiture.marque}}</td>
                                        <!-- <td>{{liste.idUser.nom}} {{liste.idUser.prenom}}</td> -->
                                        <td>{{liste.etat}}
                                          <p *ngIf="liste.etat === 0">En réception</p>
                                          <p *ngIf="liste.etat === 1">En cours</p>
                                          <p *ngIf="liste.etat === 2">à Récupérer</p>
                                          <p *ngIf="liste.etat === 3">Terminé</p>
                                        </td>
                                        <div  *ngIf="liste.etatPaie==0;then nonPayer"></div>
                                        <ng-template #nonPayer>
                                            <td class="text-success">Non Payer</td>
                                        </ng-template>
                                        <div  *ngIf="liste.etatPaie==1;then payer"></div>
                                        <ng-template #payer>
                                            <td class="text-success">Payé</td>
                                        </ng-template>
                                        <td>{{liste.dateFiche | date: 'le d MMMM yyyy à HH:mm '}}</td>
                                        <td><a href="voiture/ajout-reparation/{{liste._id}}" class="text-secondary text-gradient font-weight-bold">Voir réparation</a></td>
                                        <td><a href="voiture/facture/{{liste._id}}" class="text-secondary text-gradient font-weight-bold">Voir facture</a></td>
                                        <td><a *ngIf="(liste.etat === 1 && getMoyenne(liste.reparation) === 2)" (click)="bonDeSotie(liste._id)" href="voiture/facture/{{liste._id}}" class="text-secondary text-gradient font-weight-bold">Bon de sortie</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
