<main>
    <section class="section section-lg pt-lg-0 section-contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex flex-column mx-auto">
                    <div class="card bg-gradient-secondary shadow">
                        <form class="card-body p-lg-5" [formGroup]="ficheForm">
                            <h4 class="mb-1">Insertion dépense</h4>
                            <div class="row">
                                <div class="col">
                                    <label>Intitule</label>
                                    <div class="mb-3">
                                        <input type="text" class="form-control"  formControlName="intitule"
                                             required>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Date</label>
                                    <div class="mb-3">
                                        <input type="date" class="form-control"  formControlName="dateDepense"
                                           
                                             required>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Montant</label>
                                    <div class="mb-3">
                                        <input type="number"
                                            class="form-control"  formControlName="montant"
                                           required>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default
                                    btn-round btn-block btn-lg"
                                    (click)="ngSave()">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex flex-column mx-auto">
                    <h1 style="padding-bottom: 20px;">Liste des dépenses</h1>
                    <div class="card card-plain mt-8">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Intitule</th>
                                        <th scope="col">Mois</th>
                                        <th scope="col">Année</th>
                                        <th scope="col">Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let liste of depenseListe">
                                        <td> {{liste.intitule}}</td>
                                        <td>{{liste.mois}}</td>
                                        <td>{{liste.annee}}</td>
                                        <td>{{liste.montant}} Ar</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>