<main>
    <section class="section section-lg pt-lg-0 section-contact-us">
        <div class="container">
            <div class="row justify-content-center mt--300">
                <div class="col-lg-8">
                    <div class="card bg-gradient-secondary shadow">
                        <form class="card-body p-lg-5" [formGroup]="ficheForm">
                            <h4 class="mb-1">Choisir voiture :</h4>
                            <div class="row">
                                <div class="col">
                                    <label>Numéro Voiture</label>
                                    <div class="mb-3">
                                        <select class="form-control" formControlName="numero" [(ngModel)]="numero">
                                            <option *ngFor="let vehicule of listVehicule | async" value={{vehicule._id}} >{{vehicule.matricule+' '+vehicule.marque}}</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-default
                                    btn-round btn-block btn-lg"
                                    (click)="ngHistorique()">Rechercher</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex flex-column mx-auto">
                    <h1 style="padding-bottom: 20px;">Historique de réparation</h1>
                    <div class="card card-plain mt-8">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Intitule</th>
                                        <th scope="col">Prix</th>
                                        <th scope="col">Date début</th>
                                        <th scope="col">Avancement</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let liste of reparationListe">
                                        <td> {{liste.intitule}}</td>
                                        <td>{{liste.prix}}</td>
                                        <td>{{liste.dateDebut}}</td>
                                        <td>0</td>
                                        <td>Débuter/Encours/Terminer</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>